@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 2em auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
 
    border: 0;
    padding: 0.6em;
    background-color: rgb(212, 219, 224);
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    margin: 10px 0;
}

button {
 
    border: 0;
    padding: 0.6em;
    color: white;
    background-color: #CE1212;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

#item-container {
    margin: 6px auto;
    max-width: 320px;
    background-color: black;
    padding: 6px;
    /* grido */
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 10px;
}

.item {
    display: inline-block;
    padding: 6px 0.6em;
    color: #fff;
    background-color: #132841;
    font-size: 1.3em;
    border-radius: 3px;
    width: fit-content;
}







